OBS_WEBSOCKET_PASSWORD=sample
OBS_WEBSOCKET_URL=host.docker.internal:4455

HLS_VALUE_PREFIX=HLS_VALUE_hoge
HLS_KEY_PREFIX=HLS_KEY_hoge

STREAM_INGEST_URL=http://host.docker.internal:8080/internal/stream-credentials
STREAM_INGEST_TOKEN=replace-with-backend-token
STREAM_CHANNEL_ID=uni
